body{
    font-family:Segoe UI,Trebuchet MS;
    line-height:25px;
    }
    .container {
    padding: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    font-weight: normal;
    position: relative;

    }
    .portrait {
    float: left;
    margin: 0 0 1em 0;
    cursor: pointer;
    letter-spacing: 0.8px;
    line-height: 28px;
    font-weight: 300;
    }
    .title {
    float: left;
    margin-left: 1em;
    position: relative;
    padding: 0;
    pointer-events: all;
    cursor: pointer;
    }
    .clear{
    clear:both
    }
    .navbar {
    display: inline-block;
    margin: 0em 0 0 0;
    position: relative;
    padding: 0;
    pointer-events: all;
    cursor: pointer;
    }
    .navbar li {
    display: inline-block;
    padding: 0.6em;
    }
    .title {

      padding-top: 120px;
    }
    .portrait img {
    height: 250px;
    }
    a:visited{
       color: blue;
    }
    .entry{
      padding-top: 25px;
      line-height:25px;
    }
    td {
      padding-bottom: 30px;
      font-weight: 500;
    }
    #note{
      font-size: 15px;
    }